<h1 class="header__title" i18n="@@heroDetail">Hero detail</h1>
<div class="container" *ngIf="!hero">
  <app-hero-loading></app-hero-loading>
</div>
<div class="container" *ngIf="hero" [@fadeIn]="fadeIn">
  <ng-container>
    <form [formGroup]="editHeroForm" #form="ngForm" (ngSubmit)="editHero()"
      autocomplete="on">
      <mat-form-field class="input-container">
        <input matInput name="hname" type="text" placeholder="Name (Palindrome?)"
          i18n-placeholder="@@nameWithPalindrome" formControlName="name" [value]="hero.name">
      </mat-form-field>
      <mat-form-field class="input-container">
        <input matInput type="text" name="rname" placeholder="Real name" i18n-placeholder="@@realName"
          formControlName="alterEgo" [value]="hero.alterEgo">
      </mat-form-field>
      <!-- 1 Favorite color field -->
      <!-- <mat-form-field class="input-container">
          <input matInput type="text" name="favoriteColor" formControlName="favoriteColor" placeholder="Favorite Color?" [value]="hero.favoriteColor">
      </mat-form-field> -->
      <!-- --------- -->
      <mat-form-field class="input-container">
          <input matInput type="url" name="avatarUrl" placeholder="Avatar URL?"
            formControlName="avatarUrl" [value]="hero.avatarUrl">
          <img alt="{{hero.name}} hero image" [defaultImage]="hero.avatarUrl" [lazyLoad]="hero.avatarUrl">
      </mat-form-field>
      <mat-form-field class="input-container">
          <input matInput type="url" name="avatarBlurredUrl" placeholder="Avatar Blurred URL?"
            formControlName="avatarBlurredUrl" [value]="hero.avatarBlurredUrl">
          <img alt="{{hero.name}} hero image" [defaultImage]="hero.avatarBlurredUrl" [lazyLoad]="hero.avatarBlurredUrl">
      </mat-form-field>
      <button aria-label="save button" mat-raised-button type="submit"
        i18n="@@save">
        Save
      </button>
      <div *ngIf="error" i18n="@@errorHasOcurred">An error has ocurred</div>
    </form>
    <div id="hero-json">
      <pre>{{hero | json}}</pre>
    </div>
  </ng-container>
</div>
<button aria-label="Go back button" mat-raised-button type="button" (click)="goBack()" i18n="@@goBack">
  Go back
</button>